body {
  background-color: thistle;
}
.box {
  height: 150px;
  width: 248px;
  /* border: 1px solid black; */
  background-color: bisque;
  margin: auto;
  margin-top: 200px;
  box-shadow: 0 0 10px 10px goldenrod;
}
.heading {
  margin: 0 0 0 70px;
  color: red;
  text-shadow: 0 0 3px 3px;
}
.display {
  height: 60px;
  width: 230px;
  /* display: flex; */
  /* border: 1px solid pink; */
  box-shadow: 0px 0px 8px 8px rgb(165, 141, 141);
  margin: 10px 0 0 10px;
}
.button-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.button {
  height: 20px;
  width: 50px;
  background-color: yellowgreen;
  box-shadow: 0 0 5px 5px rgb(84, 58, 41);
  /* margin: 40px 0 0 70px; */
}
.watch {
  font-size: 30px;
}
.watch-section {
  margin: 0px 0 0 60px;
}
